*.o
*.json
bin/*
models/*
png/*
*.log
.stversions/*
.stfolder/*
.vscode/*
gmon.out
prof.*
perf.*
graph*
PANORAMA/*
*.png
!docs/html/*.png
*.obj
pubis_data_proc
pubis_data_proc_25
pubis_data_proc_25_panorama/pubis_data_proc_25_panorama.zip
